@media only screen and (min-width: 1025px) {
  body {
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #f0f2f5 !important;
  }

  .himno-letra-container {
    margin: 50px;
    padding: 20px;
    overflow: hidden;
    background-color: white;
  }

  .center {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(49.2%, 47%);
  }

  .center .ant-spin {
    transform: scale(5)
  }

  .info {
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
  }

  .full-height {
    height: calc(100vh - 140px - 20px) !important;
  }
  
  .fixed-height {
    min-height: calc(100vh - 140px - 20px) !important;
  }
}

@media only screen and (max-width: 1024px) {
  html {
    overflow-x: hidden;
  }

  body {
    overflow-x: hidden;
    position: relative;
    background-color: #f0f2f5 !important;
  }

  .himno-letra-container {
    margin: 20px 25px;
    padding: 20px 10px;
    overflow: hidden;
    min-height: calc(100vh - 140px - 45px) !important;
    background-color: white;
  }

  .center {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(40%, 50vh);
  }

  .center .ant-spin {
    transform: scale(2) translate(80%, 30%)
  }

  .info {
    display: flex;
    justify-content: space-between;
    margin: 55px 0px -8px 0px;
    padding: 0px 20px;
    width: 100%;
    /* background-color: red; */
  }
}

.logo {
  width: 120px;
  height: 31px;
  float: left;
}

.logo img {
  height: 50px;
  margin: 5px 30px 5px 6px;
  float: left;
}

.center p {
  transform: translate(-9%, 50%);
}


.parrafos {
  height: 100%;
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.parrafos p {
  text-align: center;
}

.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: #e6e8ff !important;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: #eae6ff;
}

.select-mobile {
  position: absolute;
  top: 75px;
  left: 5vw;
}

.acordes {
  white-space: pre;
}